<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	.main-wraper
		.container
			.top-logo
				.top-logo-text ПС Контроль и оценка
				
		.main-baner
			.container
				.main-baner-wrap
					.main-baner-left
						.main-baner-left-text 
							span ПС Контроль и оценка 
							| - это программное средство, обспечивающее эффективное проведение процедуры оценки уровня организации эксплуатации ИТС Банка России 
						a(href="#").main-baner-left-but
							span Начать работу REGION\11SmirnovSL
					.main-baner-right
						img(src="img/baner-img.png", alt="")

		.advant
			.container
				.advant-title Возможности ПС Контроль и оценка
				.advant-el-wrap
					.advant-el
						.advant-el-left
							img(src="img/icon-6.png", alt="")
						.advant-el-right
							.advant-el-right-title Управление рисками 
							.advant-el-right-text Создание реестра рисков. Проведение процедур идентификации, оценки рисков. Формирование мер реагирования по снижению уровня риска до допустимого. Возможность указания взаимосвязей с другими рисками. Построение тепловых карт рисков 
					
					.advant-el
						.advant-el-left
							img(src="img/icon-1.png", alt="")
						.advant-el-right
							.advant-el-right-title Бизнес-процессы и контроли
							.advant-el-right-text Формирование детального списка бизнес-процессов. Детализация бизнес-процесса до уровней подпроцессов и операций. Возможность создания контрольных процедур с привязкой к подпроцессам и источникам риска.

					.advant-el
						.advant-el-left
							img(src="img/icon-5.png", alt="")
						.advant-el-right
							.advant-el-right-title Проверка 
							.advant-el-right-text Формирование реестра проверок. Формирование адресных программ проверки деятельности по эксплуатации. Учет результатов верификации, формирование оценки по существу, агрегация оценок, формирование итогового аналитического отчета.та риск-событий

					.advant-el
						.advant-el-left
							img(src="img/icon-2.png", alt="")
						.advant-el-right
							.advant-el-right-title Контрольные мероприятия
							.advant-el-right-text Регистрация и контроль недостатков, выявленных в ходе проверок. Формирование мероприятий по устранению выявленных недостатков. Отслеживание статуса контрольных мероприятий и сроков их проведения.
					
					
					.advant-el
						.advant-el-left
							img(src="img/icon-4.png", alt="")
						.advant-el-right
							.advant-el-right-title Учет риск-событий 
							.advant-el-right-text Регистрация совершенного рискового события. Информирование заинтересованных лиц о зарегистрированных риск-событиях. Планирование мероприятий, направленных на устранение негативных последствий от реализации рискового события.

					.advant-el
						.advant-el-left
							img(src="img/icon-3.png", alt="")
						.advant-el-right
							.advant-el-right-title Отчеты
							.advant-el-right-text Формирование отчетов по результатам управления рисками и учета рисковых событий, проведения проверок и контрольных мероприятий. Гибкая настройка параметров при формировании отчетов.

		
		//- .news
		//- 	.container
		//- 		.news-wraper
		//- 			a(href="page.html").news-title Документация
		//- 			.news-el-wrap
		//- 				.news-el
		//- 					.news-el-title Релиз 2.5
		//- 						span.news-el-date / 25.08.2015
		//- 					.news-el-text Устранение замечаний по результатам опытной эксплуатации
		//- 				.news-el
		//- 					.news-el-title Релиз 2.6
		//- 						span.news-el-date / 10.10.2015
		//- 					.news-el-text Реализована компонента «Ключевые рисковые индикаторы». Компонента предназначена для описания, расчета и реагирования на пороговые значения ключевых рисковых индикаторов, необходимых для контроля и мониторинга наступления рисковых событий»
		//- 				.news-el
		//- 					.news-el-title Релиз 2.7
		//- 						span.news-el-date / 10.12.2015
		//- 					.news-el-text Устранение ошибок и несоответствий
		//- 				.news-el
		//- 					.news-el-title Релиз 2.8
		//- 						span.news-el-date / 25.08.2015
		//- 					.news-el-text Реализована компонента «Граф зависимости системы внутреннего контроля»
		
		.docs
			.container
				.docs-wraper
					.docs-title Документация
					.docs-el-wrap
						- for (var i = 0; i < 8; i++)
							.docs-el
								a(href="#")
									.docs-el-img
										img(src="img/icon-7.png", alt="")
									.docs-el-text Руководство системного администратора
		
		.footer
			.container
				.footer__cont
					.footer-text Текущая версия приложения: 2.8.0.641 (Release)
					a(href="#").footer-link Авторизоваться

	//Include Footer
	include ./block_html/script.jade