<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	.container
		.top-logo
			.top-logo-text ПС Контроль и оценка
			.top-logo-auth 
				a(href="#") Авторизация
	.main-baner
		.container
			.main-baner-wrap
				.main-baner-left
					.main-baner-left-text Программное средство контроля и оценки уровня организации эксплуатации ИТС в подразделениях информатизации Банка России
					a(href="#").main-baner-left-but
						span Начать работу
				.main-baner-right
					img(src="img/baner-img.png", alt="")
	
	.breadcrumbs
		.container
			.breadcrumbs-row
				a(href="№").breadcrumbs-el Стартовая страница
				a(href="№").breadcrumbs-el Перечень изменений
			
			
	.changes
		.container
			.changes-title Перечень изменений
			table.table-change
				thead
					tr
						th Релиз
						th Дата
						th Описание
				tbody
					- for (var x = 0; x < 4; x++)
						tr
							td Релиз 2.5
							td 25.08.2015
							td Устранение замечаний по результатам опытной эксплуатации
						tr
							td Релиз 2.6
							td 10.10.2015
							td Реализована компонента «Ключевые рисковые индикаторы». Компонента предназначена для описания, расчета и реагирования на пороговые значения ключевых рисковых индикаторов, необходимых для контроля и мониторинга наступления рисковых событий»
						tr
							td Релиз 2.7
							td 10.12.2015
							td Устранение ошибок и несоответствий
						tr
							td Релиз 2.8
							td 25.08.2015
							td Реализована компонента «Граф зависимости системы внутреннего контроля»
	
	.footer
		.container
			.footer-text Текущая версия приложения: 2.8.0.641 (Release)

	//Include Footer
	include ./block_html/script.jade